# Ambientes Virtuais
venv/
.venv/
env/
.env

# Arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações de IDE (VS Code)
.vscode/
.idea/

# Logs e arquivos de sistema
*.log
Thumbs.db